<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
<script src="assets/js/main.js"></script>
</head>
<body>
    {{ content }}

<section class="footer">
    <footer>
        <nav>
            <ul class="ulFooter">
                <li>
                    GD Solutions e.U.
                </li>
                <li>
                    Wilhelm-Gösser-Gasse 28
                </li>
                <li>
                    8047 Graz
                </li><li>
                    FN624347h
                </li>
                <li>
                    ATU79381009
                </li>
                <li>
                    <a href="https://firmen.wko.at/gd-solutions-eu/steiermark/?firmaid=d8c27991-7b7f-411f-96c5-9fb818e9f388" target="_blank">Informationen gemäß § 5 E-Commerce Gesetz (ECG)</a>
                </li>
        </ul>
        </nav>
    </footer>
</section>
<div id="gdpr-banner" class="gdpr-banner">
    <p>
	Mit dem Besuch dieser Seite erklären Sie sich damit einverstanden dass notwendige Daten von Uns verarbeitet werden.
    </p>
    <button id="gdpr-accept" class="gdpr-button">OK</button>
</div>
</body>
</html>

